@use '../../Constants/variables.scss';
.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.error-message{
    padding: 20px 40px;
    text-align: center;
    background-color: #f25b6b;
    box-shadow: $boxShadow;
    color:$white;
    border-left: 7px solid #d65c5c;
    min-width:400px;
}