$colorLight:#f8f9fa;
$smallSpace:10px;
$mediumSpace:15px;
$largeSpace:30px;
$white:#fff;
$boxShadow:0 16px 24px 2px rgba(33,37,41,.02),
           0 6px 30px 5px rgba(33,37,41,.04),
           0 8px 10px -5px rgba(33,37,41,.01);
$linearGradient:linear-gradient(to right,#e2f87x,#d6f567,#c8f151);
$borderRadius:3px;
$colorUnaccent:#808080;